@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: -10px;
  padding: 10px; 
}
nav ul li{
  border: 1px dotted black;
  background-color: rgba(240, 248, 255, 0.695);
  padding: 1%;
  border-radius: 20%;
  
}
nav ul li:hover{
  background-color:rgba(21, 21, 50, 0.544);
  color: rgb(11, 11, 11);

}




h1 , h2, h3, p, li {
  font-family: 'Heebo', sans-serif;;
}

body{
  background-image: linear-gradient(
    180deg,
    aqua,
    rgb(48, 57, 117));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
#main-container{
  width: 80%;
  margin: 0 auto;
}